Host tegra-usb
HostName 192.168.55.1
#User root
#User nvidia
StrictHostKeyChecking no
UserKnownHostsFile /dev/null

Host tegra-eth
HostName 192.168.56.1
#User root
#User nvidia
StrictHostKeyChecking no
UserKnownHostsFile /dev/null

Host deere-dut
HostName 192.168.168.2
User root
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
ForwardAgent yes
