Host vpu-usb
HostName 192.168.55.1
User root
#User nvidia
StrictHostKeyChecking no
UserKnownHostsFile /dev/null

Host vpu
HostName 192.168.66.1
#HostName 192.168.56.1
User root
#User nvidia
StrictHostKeyChecking no
UserKnownHostsFile /dev/null

Host deere-dut
HostName 192.168.168.200
User root
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
ForwardAgent yes
