Host botbox-builder
HostName ec2-52-15-235-194.us-east-2.compute.amazonaws.com
Port 22
User ubuntu

Host easybake
HostName easybake.botlink.com
User jpkotta
ForwardAgent yes

Host morty
HostName morty.packetdigital.com
ForwardAgent yes

Host gravity
HostName gravity.packetdigital.com
User packet

Host svn svn.packetdigital.com
HostName svn.packetdigital.com
User jonathan.kotta

Host suicidesquad
HostName suicidesquad.packetdigital.com
User jonathan.kotta

Host hg hg.packetdigital.com
HostName hg.packetdigital.com
User jonathan.kotta
