[submodule ".emacs.d/yasnippet"]
	path = .emacs.d/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule ".emacs.d/auto-complete"]
	path = .emacs.d/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule ".emacs.d/geiser"]
	path = .emacs.d/geiser
	url = git://gitorious.org/geiser/mainline.git
[submodule ".emacs.d/backup-walker"]
	path = .emacs.d/backup-walker
	url = git://github.com/lewang/backup-walker.git

