# jpkotta's .inputrc file
# controls various look and feel type settings for interactive bash

# include the system-wide inputrc
# if this is not included, a lot of keys won't work (in bash)
$include /etc/inputrc

# This variable can be set to either `on' or `off'. 
# Setting it to `on' means that the text of the lines being edited will scroll
# horizontally on a single screen line when they are longer than the width of
# the screen, instead of wrapping onto a new screen line. By default, this
# variable is set to `off'.
set horizontal-scroll-mode off

# who knows what this does
# default is off
set history-preserve-point on

# sometimes, sound doesn't work, plus I like this better
set bell-style visual

# If set to `on', completed names which are symbolic links to directories have a
# slash appended (subject to the value of mark-directories). The default is
# `off'.
set mark-symlinked-directories on

# show completions immediately, don't wait for a second TAB
set show-all-if-ambiguous on

# ask for confirmation if the number of possible completions is above this
set completion-query-items 500

# key bindings
$if term=xterm
    # insert a call to bc
    # the end result is 'echo "<cursor>" | bc -l'
    #"\M-m":     "echo \"\" | bc -l\C-b\C-b\C-b\C-b\C-b\C-b\C-b\C-b\C-b"

    # type two quotes and position the cursor inside them
    #"\M-\"":    "\"\"\C-b"
    #"\M-\'":    "\'\'\C-b"

    # move along the line word by word
    # doesn't work in linux console
    # Ctrl-left_arrow
    "\eOd":   backward-word
    # Ctrl-right_arrow
    "\eOc":   forward-word

    # page up and page down are not equivalent to up and down arrow 
    # this binds them to nothing
    "\e[5~": 
    "\e[6~": 

    # ctrl-backspace deletes previous word
    #"\C-?":     backward-kill-word
    "\C-H":     backward-kill-word
    # ctrl-delete deletes next word
    "\e[3^":    kill-word

    # non-incremental search of history based on the text between the prompt and the cursor
    # up arrow
    "\e[B": history-search-forward
    # down arrow
    "\e[A": history-search-backward
    
    # xterm and friends have trouble with home and end
    "\e[7~":    beginning-of-line
    "\e[8~":    end-of-line
$endif

$if term=rxvt
    # move along the line word by word
    # doesn't work in linux console
    # Ctrl-left_arrow
    "\eOd":   backward-word
    # Ctrl-right_arrow
    "\eOc":   forward-word

    # page up and page down are not equivalent to up and down arrow 
    # this binds them to nothing
    "\e[5~":
    "\e[6~": 

    # ctrl-backspace deletes previous word
    #"\C-?":     backward-kill-word
    "\C-H":     backward-kill-word
    # ctrl-delete deletes next word
    "\e[3^":    kill-word

    # non-incremental search of history based on the text between the prompt and the cursor
    # up arrow
    "\e[B": history-search-forward
    # down arrow
    "\e[A": history-search-backward
    
    # xterm and friends have trouble with home and end
    "\e[7~":    beginning-of-line
    "\e[8~":    end-of-line
$endif

$if term=eterm-color
    # move along the line word by word
    # doesn't work in linux console
    # Ctrl-left_arrow
    "\eOb":   backward-word
    # Ctrl-right_arrow
    "\eOf":   forward-word

    # page up and page down are not equivalent to up and down arrow 
    # this binds them to nothing
    "\e[5~":
    "\e[6~": 

    # ctrl-backspace deletes previous word
    "\C-H":     backward-kill-word
    # ctrl-delete deletes next word
    "\e0d":    kill-word

    # non-incremental search of history based on the text between the prompt and the cursor
    # up arrow
    "\e0B": history-search-forward
    # down arrow
    "\e0A": history-search-backward
    
    # home and end
    "\e[1~":    beginning-of-line
    "\e[4~":    end-of-line
$endif

$if term=linux
    # move along the line word by word
    # doesn't work in linux console
    # Ctrl-left_arrow
#    "\eOd":   backward-word
    # Ctrl-right_arrow
#    "\eOc":   forward-word

    # page up and page down are not equivalent to up and down arrow 
    # this binds them to nothing
    "\e[5~": 
    "\e[6~": 

    # ctrl-backspace deletes previous word
#    "\C-?":     backward-kill-word
#    "\C-H":     backward-kill-word
    # ctrl-delete deletes next word
#    "\e[3^":    kill-word

    # non-incremental search of history based on the text between the prompt and the cursor
    # up arrow
    "\e[B": history-search-forward
    # down arrow
    "\e[A": history-search-backward
    
    # xterm and friends have trouble with home and end
    "\e[7~":    beginning-of-line
    "\e[8~":    end-of-line
$endif

