# Reload this file with C-x C-r

$include /etc/inputrc

########################################################################
# Options

set horizontal-scroll-mode off
set history-preserve-point on
set bell-style visual
set mark-symlinked-directories on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set completion-query-items 300
set completion-ignore-case on
set completion-prefix-display-length 2

########################################################################
# Key bindings

# C-<left>
"\eOd": backward-word
# C-<right>
"\eOc": forward-word

# <prior> (page up)
"\e[5~":
# <next> (page down)
"\e[6~":

# C-<backspace>
"\C-H": backward-kill-word
# C-<delete>
"\e[3^": kill-word

# <up>
"\e[B": history-search-forward
# <down>
"\e[A": history-search-backward

# <home>
"\e[7~": beginning-of-line
# <end>
"\e[8~": end-of-line

# C-q
"\C-q": menu-complete
# C-w
"\C-w": menu-complete-backward

########################################################################
# Terminal-specific stuff

$if term=eterm-color
    # C-<left>
    "\eOb": backward-word
    # C-<right>
    "\eOf": forward-word

    # C-<delete>
    "\e0d": kill-word

    # <up>
    "\eOB": history-search-forward
    # <down>
    "\eOA": history-search-backward

    # <home>
    "\e[1~": beginning-of-line
    # <end>
    "\e[4~": end-of-line
$endif

$if term=linux
    # C-<backspace>
    "\C-?": backward-kill-word
    # C-<delete>
    "\e[3~": kill-word
$endif