[Unit]
Description=Disable Security Auditing Service

[Service]
Type=oneshot
ExecStart=/usr/bin/auditctl -R /etc/audit/audit-stop.rules

[Install]
WantedBy=multi-user.target
